@import url('https://fonts.googleapis.com/css?family=Roboto');
@mixin flex($direction,
$wrapping,
$justify,
$align) {
    display: flex;
    flex-direction: $direction;
    flex-wrap: $wrapping;
    justify-content: $justify;
    align-items: $align;
}

@mixin degree_icon($top,
$right,
$fontsize) {
    content: 'c';
    display: block;
    position: absolute;
    top: $top;
    right: $right;
    font-size: $fontsize;
}

* {
    box-sizing: border-box;
    position: relative;
}

html {
    font-family: 'Roboto', sans-serif;
    color: #002e57;
}

ul {
    list-style: none;
    padding: 0;
    li {
        font-size: 14px;
        margin: 10px;
    }
}

.nostate,
.nomatch {
    width: 100%;
    font-size: 50px;
    text-align: center;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.roll-button {
    cursor: pointer;
    width: 100%;
    padding: 15px 0;
    text-align: center;
    font-size: 18px;
    border-top: 1px solid #d5ccff;
    .more:before,
    .less:before {
        content: '';
        display: block;
        width: 12px;
        height: 12px;
        border-left: 1px solid #d5ccff;
        border-bottom: 1px solid #d5ccff;
        background-color: #fff;
        position: absolute;
        z-index: 2;
        left: 50%;
        top: -22px;
    }
    .more:before {
        transform: translateX(-50%) rotate(-45deg);
    }
    .less:before {
        transform: translateX(-50%) rotate(135deg);
    }
}

.container {
    width: 700px;
    margin: 0 auto;
}

form {
    @include flex(row,
    nowrap,
    center,
    center);
    padding: 30px 0;
    input {
        outline: none;
        text-align: center;
        width: 30%;
        height: 45px;
        font-size: 28px;
        padding: 0 15px;
        border: none;
        transition: .2s;
        margin-right: 10px;
        &:focus {
            transition: .3s;
            box-shadow: 0px 7px 20px -14px #000;
        }
    }
    button {
        outline: none;
        border: none;
        height: 45px;
        background: transparent;
        font-family: inherit;
        font-size: 28px;
        cursor: pointer;
        color: #00bd5d;
        &:hover {
            transition: .3s;
            box-shadow: 0px -7px 20px -13px #000;
        }
        &:before {
            display: block;
            content: '';
            position: absolute;
            top: 0;
            left: -6px;
            border-left: 2px solid #002e57;
            height: inherit;
        }
    }
}

.weather {
    @include flex(column,
    nowrap,
    space-around,
    flex-start);
    width: 100%;
}

.full-forecast {
    @include flex(column,
    nowrap,
    space-around,
    center);
    width: inherit;
    & div {
        width: inherit;
    }
    .forecast-location {
        @include flex(row,
        nowrap,
        space-between,
        baseline);
        padding: 10px;
        border-bottom: 1px solid #d5ccff;
        .city,
        .date {
            font-size: 30px;
        }
        .city {
            font-weight: bold;
        }
        .date {
            font-style: italic;
        }
    }
    .forecast-info {
        @include flex(row,
        nowrap,
        space-between,
        center);
        padding: 25px;
        margin-top: 10px;
        background-color: #f5f5dc;
        border-radius: 4px;
        .temp {
            @include flex(row,
            nowrap,
            center,
            baseline);
        }
        .degrees {
            font-size: 70px;
            margin: 0 10px;
            &:after {
                @include degree_icon(0,
                -10px,
                20px);
            }
        }
        .other {
            @include flex(column,
            nowrap,
            space-around,
            center);
            span {
                font-size: 20px;
            }
        }
    }
}

.partial-forecast {
    @include flex(row,
    wrap,
    flex-start,
    flex-start);
    width: inherit;
    padding-top: 20px;
    padding-bottom: 0;
    .check {
        background-color: #f5f5dc;
    }
    .item {
        width: 20%;
        cursor: pointer;
        text-align: center;
        height: 140px;
        border-radius: 4px;
        padding: 15px;
        transition: .1s;
        margin-bottom: 20px;
        &:hover {
            transition: .2s;
            box-shadow: 0 7px 20px -10px rgba(0, 0, 0, .7);
            overflow-y: visible;
        }
    }
    .day {
        font-style: italic;
        font-size: 18px;
    }
    .temp {
        font-size: 14px;
        font-weight: bold;
    }
    .secondary {
        text-align: left;
    }
}

span.degree-icon {
    margin-right: 6px;
    &:after {
        @include degree_icon(-5px,
        -7px,
        10px);
    }
}