@import url('https://fonts.googleapis.com/css?family=Roboto');
@mixin flex($direction,
$wrapping,
$justify,
$align) {
    display: flex;
    flex-direction: $direction;
    flex-wrap: $wrapping;
    justify-content: $justify;
    align-items: $align;
}

* {
    box-sizing: border-box;
}

html {
    font-family: 'Roboto', sans-serif;
}

ul {
    list-style: none;
    padding: 0;
}

.weather {
    @include flex(column,
    nowrap,
    space-around,
    center);
    width: 700px;
    div {
        width: 100%;
    }
}

.full-forecast {
    @include flex(column,
    nowrap,
    space-around,
    center);
    .forecast-location {
        @include flex(row,
        nowrap,
        space-between,
        baseline);
        padding: 10px;
        border-bottom: 1px solid #000;
        .city,
        .date {
            font-size: 30px;
        }
        .city {
            font-weight: bold;
        }
        .date {
            font-style: italic;
        }
    }
    .forecast-info {
        @include flex(row,
        nowrap,
        space-between,
        center);
        padding: 25px;
        .temp {
            @include flex(row,
            nowrap,
            flex-start,
            center);
        }
        .degrees {
            font-size: 46px;
        }
    }
}

.partial-forecast {
    @include flex(row,
    nowrap,
    space-around,
    flex-start);
    .item {
        text-align: center;
        height: 120px;
        overflow-y: hidden;
        border-radius: 4px;
        padding: 10px;
        transition: .1s;
        &:hover {
            transition: .2s;
            box-shadow: 0 0 10px -2px rgba(0, 0, 0, 0.7);
            overflow-y: visible;
            height: initial;
        }
    }
    .secondary {
        text-align: left;
    }
}